.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___img {
  height: 200px;
}

.fighter-preview___info {
  border: medium outset white;
  padding: 5px;
  margin: 10px 10px 0 10px;
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  font-size: 15px;
  font-family: 'Arial Black';
  font-weight: 400;
}
